Column that I want to use: <br />
Twitter Data<br />
created_at | id | User.screen_name | Text | Lang | retweet_count | reply_count | quote_count | retweeted_status | <br /><br />

Sentiment Analysis<br />
sentiment polarity |

BotOMeter<br />
screen_name | english |

In [1]:
import tarfile
import json
import gzip
import pandas as pd
import re
from textblob import TextBlob
from pandas.io.json import json_normalize

def clean_tweet(tweet):
        '''
        Utility function to clean tweet text by removing links, special characters
        using simple regex statements.
        '''
        return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", tweet).split())

<h1>Data Preparation</h1>
<h3>Data Preparation #1: Import twitter data</h3>

In [3]:
tar = tarfile.open("../input/2017-09-22.tar.gz", "r:gz")
data = pd.DataFrame()
count=0

for members in tar.getmembers():
    if (count==13):
        f = tar.extractfile(members)
        data = data.append(pd.read_json(f, lines=True))
    count = count + 1

<h3>Data Preparation #2: Import data from previous BotOMeter preprocessing </h3>

In [170]:
bot_data = pd.DataFrame()

for i in range(1,8):
    output="outputbot_"+str(i)+".csv"
    bot_data=bot_data.append(pd.read_csv(output))[['screen_name','english']]

In [189]:
print(len(bot_data))

3232

<h3>Data Preparation #3: Import Sentiment based on Naive Bayes data</h3>
since the analysis process taking time, I decided to separate this process to another notebook file.

In [110]:
sentiment_data = pd.DataFrame()
sentiment_data = pd.read_csv("sentiment_output1.csv")

In [173]:
tmp

    screen_name  english
0  allanwhyte81     0.35
1  blueghosties     0.33

In [210]:
count=0
hashtags=[]
for ent in data['entities']:
    str_hsh=''
    for hsh in ent['hashtags']:
        #print(hsh['text'])
        str_hsh=hsh['text']+','+str_hsh
    hashtags.append(str_hsh.upper())
    count = count+1

In [211]:

namelist=[]
for x in data['user']:
    namelist.append(x['screen_name'])

compiled_data=pd.DataFrame({'screen_name':namelist, 'lang':data['lang'] 
                            ,'retweet_count':data['retweet_count']
                            ,'reply_count':data['reply_count']
                            ,'quote_count':data['quote_count']
                            ,'retweeted_status':data['retweeted_status']
                            ,'hashtags':hashtags
                           })

sen_dat=compiled_data.join(sentiment_data[['class','p_neg','p_pos']])

pd.merge(sen_dat,bot_data, how='left', on=['screen_name'])

,hashtags,lang,quote_count,reply_count,retweet_count,retweeted_status,screen_name,class,p_neg,p_pos,english
0,"EXCEL,LONDON,EUROPE,MRO,",en,0,0,0,NaN,allanwhyte81,pos,0.005214,0.994786,0.35
1,"BREXIT,",en,0,0,0,"{u'quote_count': 1, u'contributors': None, u't...",blueghosties,pos,0.049174,0.950826,0.33
2,"ASIE,EUROPE,SCOOTERS,",fr,0,0,0,NaN,83Kindy,NaN,NaN,NaN,0.39
3,"BREXIT,",en,0,0,0,NaN,WheezingWez,NaN,NaN,NaN,0.22
4,"CYBERSECURITY,EU,",en,0,0,0,NaN,abacohosting,NaN,NaN,NaN,0.45
5,"WELCOMETOREALITY,EU,GB,EU,",en,0,0,0,NaN,Wingloss,NaN,NaN,NaN,0.31
6,"REFERENDUM,",und,0,0,0,"{u'quote_count': 4, u'contributors': None, u't...",rijago,NaN,NaN,NaN,0.42
7,"BREXIT,",fr,0,0,0,NaN,JSLefebvre,NaN,NaN,NaN,0.48
8,"REFERENDUM,TERRASSA,",und,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",arna1cb,NaN,NaN,NaN,0.30
9,"ACAMPADA1O,",und,0,0,0,"{u'quote_count': 0, u'contributors': None, u'q...",llunavermella,NaN,NaN,NaN,0.38
10,"BREXIT,",en,0,0,0,NaN,Facts4euOrg,NaN,NaN,NaN,0.36
11,"SCOTREF,",en,0,0,0,NaN,wimthetim,NaN,NaN,NaN,0.38
12,"BREXIT,FLORENCE,",en,0,0,0,"{u'quote_count': 1, u'contributors': None, u't...",DelardoKelle,NaN,NaN,NaN,0.38
13,"EUROPEUNION,NEWS,EU,",en,0,0,0,NaN,EuropeUnion,NaN,NaN,NaN,0.54
14,"REFUGEESWELCOME,GLOBALCITIZEN,",en,0,0,0,NaN,DAVIDEDUARDOJL,NaN,NaN,NaN,0.33
15,"BREXIT,",en,0,0,0,"{u'quote_count': 1, u'contributors': None, u't...",Krys2549,NaN,NaN,NaN,0.31
16,"REFERENDUM,",en,0,0,0,"{u'quote_count': 0, u'contributors': None, u'q...",chinenyemaryan9,NaN,NaN,NaN,0.62
17,"WALKAWAYMAY,",und,0,0,0,NaN,jmaccy14,NaN,NaN,NaN,0.28
18,"BREXIT,",en,0,0,0,NaN,AWMCheung,NaN,NaN,NaN,0.24
19,,und,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",pausantandreu,NaN,NaN,NaN,0.33
20,"BREXIT,",en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",w_nicht,NaN,NaN,NaN,0.27
21,"EU,",en,0,0,0,NaN,Eurochild_org,NaN,NaN,NaN,0.51
22,"WALKAWAYMAY,",en,0,0,0,"{u'quote_count': 0, u'contributors': None, u'q...",jmaccy14,NaN,NaN,NaN,0.28
23,"1O,REFERENDUM,LIBRE,",und,0,0,0,"{u'quote_count': 2, u'contributors': None, u't...",nohemi90000,NaN,NaN,NaN,0.36
24,,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u'q...",LawroNCB,NaN,NaN,NaN,0.40
25,"FAUXEMOTION,STILLYES,SCOTREF,",en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",IsThisAB0t,NaN,NaN,NaN,0.55
26,"EU,NIS,CYBERSECURITY,ENISA,",en,0,0,0,NaN,enisa_eu,NaN,NaN,NaN,0.49
27,"REFERENDUM,CATALONIA,",en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",Kellliure,NaN,NaN,NaN,0.46
28,"BREXIT,UBER,",en,0,0,0,NaN,mikee_99,NaN,NaN,NaN,0.18
29,"BREXIT,FLORENCE,",en,0,0,0,"{u'quote_count': 1, u'contributors': None, u't...",AnnBank41695841,NaN,NaN,NaN,0.45
...,...,...,...,...,...,...,...,...,...,...,...
4339,,en,0,0,0,NaN,vdavidmartin,NaN,NaN,NaN,0.44
4340,"BREXIT,FLORENCESPEECH,",en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",marta_vokshi,NaN,NaN,NaN,0.26
4341,"BREXIT,WALKAWAYMAY,",en,0,0,0,"{u'quote_count': 0, u'contributors': None, u'q...",gumjongumjon,NaN,NaN,NaN,0.34
4342,"IG_TRAVEL,SHARETRAVELPICS,TRAVELPHOTOGRAPHY,TR...",und,0,0,0,NaN,pride1977,NaN,NaN,NaN,0.51
4343,,en,0,0,0,"{u'quote_count': 2, u'contributors': None, u'q...",johnmalta99,NaN,NaN,NaN,0.50
4344,"CJUE,ACCÈSPARTIEL,PATIENT,DENTISTE,EUROPE,SANT...",fr,0,0,0,NaN,FEDCAR1,NaN,NaN,NaN,0.45
4345,"BREXIT,",fr,0,0,0,NaN,BjsConseil,NaN,NaN,NaN,NaN
4346,,en,0,0,0,NaN,geoffkernow,NaN,NaN,NaN,NaN
4347,"THERESAMAY,BREXIT,BETTERTOGETHER,",und,0,0,0,NaN,JamesDubhthaigh,NaN,NaN,NaN,0.38
4348,"BREXIT,FLORENCESPEECH,",en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",David__Belle,NaN,NaN,NaN,NaN
4349,"FLORENCESPEECH,BREXIT,",en,0,0,0,"{u'quote_count': 13, u'contributors': None, u'...",hywelowen,NaN,NaN,NaN,0.21
4350,"1O,REFERENDUM,LIBRE,",und,0,0,0,"{u'quote_count': 4, u'contributors': None, u't...",EnricGrustan,NaN,NaN,NaN,0.32
4351,"MAY,BREXIT,",en,0,0,0,NaN,TonysView_com,NaN,NaN,NaN,0.27
4352,"FLORENCESPEECH,BREXIT,",en,0,0,0,"{u'quote_count': 13, u'contributors': None, u'...",w_nicht,NaN,NaN,NaN,0.27
4353,"UKRAINE,MOLDOVA,GEORGIA,EU,GERMANY,NETHERLANDS,",en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",MJes54,NaN,NaN,NaN,0.33
4354,"RADICALS,EUROPE,",en,0,0,0,NaN,gazela_wild,NaN,NaN,NaN,NaN
4355,"BREXIT,",en,0,0,0,"{u'quote_count': 2, u'contributors': None, u't...",londonyc,NaN,NaN,NaN,0.45
4356,"BREXIT,FLORENCE,",en,0,0,0,"{u'quote_count': 8, u'contributors': None, u't...",Publius_EU,NaN,NaN,NaN,0.38
4357,"1OCT2017,REFERENDUM,REFERENDUM1DEOCTUBRE,",es,0,0,0,"{u'quote_count': 1, u'contributors': None, u't...",davidegea,NaN,NaN,NaN,0.22
4358,"EU,FAIRTAXATION,",en,0,0,0,"{u'quote_count': 5, u'contributors': None, u't...",ElisaCasazza,NaN,NaN,NaN,0.45
4359,"EU,",en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",Peoplesbudgeteu,NaN,NaN,NaN,0.36
4360,"1O,REFERENDUM,LIBRE,",und,0,0,0,"{u'quote_count': 4, u'contributors': None, u't...",Arnybabysexy,NaN,NaN,NaN,0.39
4361,"1O,REFERENDUM,LIBRE,",und,0,0,0,"{u'quote_count': 4, u'contributors': None, u't...",jguiu0,NaN,NaN,NaN,0.43
4362,"FBI,BREXIT,NYTIMES,AFP,LATINOS,POTUS,BLACKLIVE...",und,0,0,0,NaN,norights4u,NaN,NaN,NaN,0.33
4363,"REFERENDUM,SELFDETERMINATION,GENOCIDE,",en,0,0,0,"{u'quote_count': 0, u'contributors': None, u'q...",outlaws_,NaN,NaN,NaN,0.47
4364,"BREXIT,",en,0,0,0,"{u'quote_count': 19, u'contributors': None, u'...",coull26,NaN,NaN,NaN,0.50
4365,"TRAVEL,ITALY,EUROPE,",en,0,0,0,NaN,42ndClass,NaN,NaN,NaN,0.63
4366,"INNOVATION,ITC,CROWDFUNDING,CROWDDIALOG,EUROPE,",en,0,0,0,NaN,BeyondCSRnet,NaN,NaN,NaN,0.52
4367,"SPUTNIK,AP,CNN,NYTIMES,SENATE,FBI,ACLU,ADL,JEWS,",en,0,0,0,"{u'quote_count': 1, u'contributors': None, u't...",norights4u,NaN,NaN,NaN,0.33
4368,"BRUSSELS,UKRAINE,MOLDOVA,GEORGIA,EU,",en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",MJes54,NaN,NaN,NaN,0.33

In [145]:
compiled_data

,lang,quote_count,reply_count,retweet_count,retweeted_status,screen_name
0,en,0,0,0,NaN,allanwhyte81
1,en,0,0,0,"{u'quote_count': 1, u'contributors': None, u't...",blueghosties
2,fr,0,0,0,NaN,83Kindy
3,en,0,0,0,NaN,WheezingWez
4,en,0,0,0,NaN,abacohosting
5,en,0,0,0,NaN,Wingloss
6,und,0,0,0,"{u'quote_count': 4, u'contributors': None, u't...",rijago
7,fr,0,0,0,NaN,JSLefebvre
8,und,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",arna1cb
9,und,0,0,0,"{u'quote_count': 0, u'contributors': None, u'q...",llunavermella
10,en,0,0,0,NaN,Facts4euOrg
11,en,0,0,0,NaN,wimthetim
12,en,0,0,0,"{u'quote_count': 1, u'contributors': None, u't...",DelardoKelle
13,en,0,0,0,NaN,EuropeUnion
14,en,0,0,0,NaN,DAVIDEDUARDOJL
15,en,0,0,0,"{u'quote_count': 1, u'contributors': None, u't...",Krys2549
16,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u'q...",chinenyemaryan9
17,und,0,0,0,NaN,jmaccy14
18,en,0,0,0,NaN,AWMCheung
19,und,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",pausantandreu
20,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",w_nicht
21,en,0,0,0,NaN,Eurochild_org
22,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u'q...",jmaccy14
23,und,0,0,0,"{u'quote_count': 2, u'contributors': None, u't...",nohemi90000
24,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u'q...",LawroNCB
25,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",IsThisAB0t
26,en,0,0,0,NaN,enisa_eu
27,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",Kellliure
28,en,0,0,0,NaN,mikee_99
29,en,0,0,0,"{u'quote_count': 1, u'contributors': None, u't...",AnnBank41695841
...,...,...,...,...,...,...
4339,en,0,0,0,NaN,vdavidmartin
4340,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",marta_vokshi
4341,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u'q...",gumjongumjon
4342,und,0,0,0,NaN,pride1977
4343,en,0,0,0,"{u'quote_count': 2, u'contributors': None, u'q...",johnmalta99
4344,fr,0,0,0,NaN,FEDCAR1
4345,fr,0,0,0,NaN,BjsConseil
4346,en,0,0,0,NaN,geoffkernow
4347,und,0,0,0,NaN,JamesDubhthaigh
4348,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",David__Belle
4349,en,0,0,0,"{u'quote_count': 13, u'contributors': None, u'...",hywelowen
4350,und,0,0,0,"{u'quote_count': 4, u'contributors': None, u't...",EnricGrustan
4351,en,0,0,0,NaN,TonysView_com
4352,en,0,0,0,"{u'quote_count': 13, u'contributors': None, u'...",w_nicht
4353,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",MJes54
4354,en,0,0,0,NaN,gazela_wild
4355,en,0,0,0,"{u'quote_count': 2, u'contributors': None, u't...",londonyc
4356,en,0,0,0,"{u'quote_count': 8, u'contributors': None, u't...",Publius_EU
4357,es,0,0,0,"{u'quote_count': 1, u'contributors': None, u't...",davidegea
4358,en,0,0,0,"{u'quote_count': 5, u'contributors': None, u't...",ElisaCasazza
4359,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",Peoplesbudgeteu
4360,und,0,0,0,"{u'quote_count': 4, u'contributors': None, u't...",Arnybabysexy
4361,und,0,0,0,"{u'quote_count': 4, u'contributors': None, u't...",jguiu0
4362,und,0,0,0,NaN,norights4u
4363,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u'q...",outlaws_
4364,en,0,0,0,"{u'quote_count': 19, u'contributors': None, u'...",coull26
4365,en,0,0,0,NaN,42ndClass
4366,en,0,0,0,NaN,BeyondCSRnet
4367,en,0,0,0,"{u'quote_count': 1, u'contributors': None, u't...",norights4u
4368,en,0,0,0,"{u'quote_count': 0, u'contributors': None, u't...",MJes54

In [53]:
count=0
namelist=[]
for x in data['user']:
    if (x['screen_name']=='ZAdamsGreen'):
        print(x['screen_name'])
        print(data.iloc[count]['retweet_count'])
    count=count+1

In [ ]:
mydict=Counter(namelist)

for key, value in sorted(mydict.iteritems(), key=lambda (k,v): (v,k), reverse=True):
    print "%s: %s" % (key, value)