In [21]:
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

# Pandas by default limit the maximum columns display. This will remove the limit.
pd.set_option('display.max_columns', None)

tweets = []
df = pd.DataFrame()

In [22]:
twitter_filename = "2016-06-23:05:34:01.json"
twitter_file = open(twitter_filename, 'r')

In [23]:
selected_columns = ['id_str',
                    'created_at', 
                    'text', 
                    'entities.hashtags', 
                    'lang',
                    'user.screen_name', 
                    'user.id_str',
                    'user.followers_count',
                    'user.friends_count',
                    'retweeted_status.id_str',
                    'retweeted_status.created_at',
                    'retweeted_status.text',
                    'retweeted_status.entities.hashtags',
                    'retweeted_status.lang',
                    'retweeted_status.user.screen_name',
                    'retweeted_status.user.id_str',
                    'retweeted_status.user.followers_count',
                    'retweeted_status.user.friends_count']

In [24]:
df_tweets = pd.DataFrame()
with open(twitter_filename, 'r') as f:
    for line in f:
        tweet = json.loads(line)
        df = json_normalize(tweet)
        df_tweets = df_tweets.append(df.loc[:,selected_columns], ignore_index=True)

In [25]:
df_tweets.count()

id_str                                   19851
created_at                               19851
text                                     19851
entities.hashtags                        19851
lang                                     19851
user.screen_name                         19851
user.id_str                              19851
user.followers_count                     19851
user.friends_count                       19851
retweeted_status.id_str                  11265
retweeted_status.created_at              11265
retweeted_status.text                    11265
retweeted_status.entities.hashtags       11265
retweeted_status.lang                    11265
retweeted_status.user.screen_name        11265
retweeted_status.user.id_str             11265
retweeted_status.user.followers_count    11265
retweeted_status.user.friends_count      11265
dtype: int64

In [6]:
#df_tweets.tail()

In [7]:
def convert_hashtags(entries):
    hashtags = []
#     print (entries)
    if (entries != "NO HASHTAGS"): 
        if (len(entries) == 0):
            return "NO HASHTAGS"
        else:
            for entry in entries: # for each line in our input
    #             print(entry['text'])
    #             for ht in entry: # for every hashtag in each line
    #                 print (ht)
                hashtags.append(entry['text'])
            return hashtags
    else:
        return "NO HASHTAGS"

In [26]:
df_tweets['entities.hashtags'] = df_tweets['entities.hashtags'].astype('object').fillna("No Hashtags")
df_tweets['retweeted_status.entities.hashtags'] = df_tweets['retweeted_status.entities.hashtags'].astype('object').fillna("NO HASHTAGS")

In [27]:
df_tweets['retweeted_status.entities.hashtags'] = df_tweets['retweeted_status.entities.hashtags'].apply(lambda row: convert_hashtags(row))
df_tweets['entities.hashtags'] = df_tweets['entities.hashtags'].apply(lambda row: convert_hashtags(row))

In [28]:
df_tweets.to_csv("export_2016062306.csv", sep=',', encoding='utf-8')

In [32]:
df_tweets2 = pd.read_csv('export_2016062306.csv', index_col = 0)

In [35]:
df_tweets2['created_at']

0        Thu Jun 23 04:34:03 +0000 2016
1        Thu Jun 23 04:34:03 +0000 2016
2        Thu Jun 23 04:34:04 +0000 2016
3        Thu Jun 23 04:34:04 +0000 2016
4        Thu Jun 23 04:34:04 +0000 2016
5        Thu Jun 23 04:34:05 +0000 2016
6        Thu Jun 23 04:34:05 +0000 2016
7        Thu Jun 23 04:34:05 +0000 2016
8        Thu Jun 23 04:34:05 +0000 2016
9        Thu Jun 23 04:34:05 +0000 2016
10       Thu Jun 23 04:34:05 +0000 2016
11       Thu Jun 23 04:34:06 +0000 2016
12       Thu Jun 23 04:34:06 +0000 2016
13       Thu Jun 23 04:34:06 +0000 2016
14       Thu Jun 23 04:34:06 +0000 2016
15       Thu Jun 23 04:34:07 +0000 2016
16       Thu Jun 23 04:34:07 +0000 2016
17       Thu Jun 23 04:34:07 +0000 2016
18       Thu Jun 23 04:34:08 +0000 2016
19       Thu Jun 23 04:34:08 +0000 2016
20       Thu Jun 23 04:34:08 +0000 2016
21       Thu Jun 23 04:34:08 +0000 2016
22       Thu Jun 23 04:34:08 +0000 2016
23       Thu Jun 23 04:34:08 +0000 2016
24       Thu Jun 23 04:34:08 +0000 2016
25       Thu Jun 23 04:34:08 +0000 2016
26       Thu Jun 23 04:34:08 +0000 2016
27       Thu Jun 23 04:34:08 +0000 2016
28       Thu Jun 23 04:34:08 +0000 2016
29       Thu Jun 23 04:34:09 +0000 2016
                      ...
19821    Thu Jun 23 05:33:58 +0000 2016
19822    Thu Jun 23 05:33:58 +0000 2016
19823    Thu Jun 23 05:33:57 +0000 2016
19824    Thu Jun 23 05:33:58 +0000 2016
19825    Thu Jun 23 05:33:58 +0000 2016
19826    Thu Jun 23 05:33:58 +0000 2016
19827    Thu Jun 23 05:33:58 +0000 2016
19828    Thu Jun 23 05:33:58 +0000 2016
19829    Thu Jun 23 05:33:58 +0000 2016
19830    Thu Jun 23 05:33:59 +0000 2016
19831    Thu Jun 23 05:33:59 +0000 2016
19832    Thu Jun 23 05:33:58 +0000 2016
19833    Thu Jun 23 05:33:59 +0000 2016
19834    Thu Jun 23 05:33:59 +0000 2016
19835    Thu Jun 23 05:33:59 +0000 2016
19836    Thu Jun 23 05:33:59 +0000 2016
19837    Thu Jun 23 05:34:00 +0000 2016
19838    Thu Jun 23 05:33:59 +0000 2016
19839    Thu Jun 23 05:34:00 +0000 2016
19840    Thu Jun 23 05:34:00 +0000 2016
19841    Thu Jun 23 05:34:00 +0000 2016
19842    Thu Jun 23 05:34:00 +0000 2016
19843    Thu Jun 23 05:34:00 +0000 2016
19844    Thu Jun 23 05:34:00 +0000 2016
19845    Thu Jun 23 05:34:00 +0000 2016
19846    Thu Jun 23 05:34:00 +0000 2016
19847    Thu Jun 23 05:34:01 +0000 2016
19848    Thu Jun 23 05:34:01 +0000 2016
19849    Thu Jun 23 05:34:01 +0000 2016
19850    Thu Jun 23 05:34:01 +0000 2016
Name: created_at, Length: 19874, dtype: object