In [1]:
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

input_file='export_2016062307.csv'
bot_data = pd.DataFrame()
bot_data = pd.read_csv(input_file, index_col = 0)[['user.screen_name', 'retweeted_status.user.screen_name']]

In [2]:
bot_data.head()

  user.screen_name retweeted_status.user.screen_name
0       gavmelling                    matthew_speaks
1      trethewey20                      johnprescott
2    hernhillforum                          mrseades
3        joeplanas                               NaN
4      NdumiMbatha                               NaN

In [3]:
print(len(bot_data))

53114

In [4]:
distinct_uname_rs=bot_data[bot_data['retweeted_status.user.screen_name'].notnull()]['retweeted_status.user.screen_name'].drop_duplicates()

In [21]:
distinct_uname_sn = pd.DataFrame()
distinct_uname_sn=bot_data[bot_data['user.screen_name'].notnull()]['user.screen_name'].drop_duplicates()
distinct_uname_sn.columns=['user.screen_name']

In [6]:
print("count rs",len(distinct_uname_rs))

('count rs', 7230)

In [7]:
print("count sn",len(distinct_uname_sn))

('count sn', 33277)

In [25]:
distinct_uname_sn.head()

0       gavmelling
1      trethewey20
2    hernhillforum
3        joeplanas
4      NdumiMbatha
Name: user.screen_name, dtype: object

In [8]:
distinct_uname_sn.to_csv("distinct_userlist_2016062307.csv", sep=',', encoding='utf-8')
distinct_uname_rs.to_csv("distinct_userlist_rs_2016062307.csv", sep=',', encoding='utf-8')