In [1]:
import json
import pandas as pd
from pandas.io.json import json_normalize

# Pandas by default limit the maximum columns display. This will remove it.
pd.set_option('display.max_columns', None)

twitter_filename = "2017-09-22:03:05:01.json"
twitter_file = open(twitter_filename, 'r')

tweets = []
df_tweets = pd.DataFrame()

with twitter_file as f:
    for line in f:
        tweet = json.loads(line)
        df_tweets = df_tweets.append(json_normalize(tweet))

In [10]:
df_tweets.columns

Index(['contributors', 'coordinates', 'coordinates.coordinates',
       'coordinates.type', 'created_at', 'display_text_range',
       'entities.hashtags', 'entities.media', 'entities.symbols',
       'entities.urls',
       ...
       'user.profile_use_background_image', 'user.protected',
       'user.screen_name', 'user.statuses_count', 'user.time_zone',
       'user.translator_type', 'user.url', 'user.utc_offset', 'user.verified',
       'withheld_in_countries'],
      dtype='object', length=371)

In [4]:
df_tweets.head()

,contributors,coordinates,coordinates.coordinates,coordinates.type,created_at,display_text_range,entities.hashtags,entities.media,entities.symbols,entities.urls,...,user.profile_use_background_image,user.protected,user.screen_name,user.statuses_count,user.time_zone,user.translator_type,user.url,user.utc_offset,user.verified,withheld_in_countries
0,None,None,NaN,NaN,Fri Sep 22 02:05:01 +0000 2017,"[0, 140]","[{'indices': [50, 53], 'text': 'EU'}, {'indice...",NaN,[],"[{'display_url': 'europeunion.press/?p=24973',...",...,True,False,nathymora,26297,Greenland,none,None,-7200,False,NaN
0,None,None,NaN,NaN,Fri Sep 22 02:05:05 +0000 2017,"[0, 140]","[{'indices': [36, 39], 'text': 'EU'}, {'indice...",NaN,[],"[{'display_url': 'europeunion.press/?p=24975',...",...,False,False,EuropeUnion,38358,London,none,http://EuropeUnion.press,3600,False,NaN
0,None,None,NaN,NaN,Fri Sep 22 02:05:08 +0000 2017,"[0, 140]","[{'indices': [50, 53], 'text': 'EU'}, {'indice...",NaN,[],"[{'display_url': 'europeunion.press/?p=24974',...",...,True,False,nathymora,26298,Greenland,none,None,-7200,False,NaN
0,None,None,NaN,NaN,Fri Sep 22 02:05:09 +0000 2017,NaN,"[{'indices': [65, 74], 'text': 'buddhism'}, {'...",NaN,[],[{'display_url': 'tsemrinpoche.com/tsem-tulku-...,...,True,False,KumarTa69783205,420,None,none,None,None,False,NaN
0,None,None,NaN,NaN,Fri Sep 22 02:05:14 +0000 2017,"[0, 15]","[{'indices': [8, 15], 'text': 'Brexit'}]",NaN,[],[{'display_url': 'twitter.com/GuitarMoog/sta…'...,...,True,False,SergioTavaresUK,8616,Europe/London,none,https://www.facebook.com/lusoscot/,3600,False,NaN

In [8]:
df_tweets['user.time_zone'].unique()

array(['Greenland', 'London', None, 'Europe/London', 'Casablanca',
       'Copenhagen', 'Eastern Time (US & Canada)',
       'Pacific Time (US & Canada)', 'Athens',
       'Central Time (US & Canada)', 'Central America', 'Bern', 'Dublin',
       'Belgrade', 'Brasilia', 'Stockholm', 'Pretoria', 'Perth',
       'Ljubljana', 'Madrid', 'Paris', 'Quito', 'Melbourne', 'Vienna',
       'International Date Line West', 'Edinburgh', 'UTC',
       'Atlantic Time (Canada)', 'Mountain Time (US & Canada)', 'Tokyo',
       'Auckland', 'Amsterdam', 'Sri Jayawardenepura', 'Singapore',
       'New Delhi', 'Mexico City', 'Hong Kong', 'America/Los_Angeles',
       'Abu Dhabi', 'Lisbon', 'Mumbai', 'Sydney', 'Volgograd', 'Kyiv',
       'Fiji', 'Hawaii', 'Brussels', 'Tehran', 'Alaska', 'Arizona',
       'Berlin', 'Caracas', 'Beijing', 'Baghdad', 'Cairo', 'Jerusalem',
       "Nuku'alofa", 'Helsinki', 'America/Phoenix', 'America/Toronto'], dtype=object)